<div class="contener">

  <!-------------------- menu ------------------------->
  <header>
    <nav>
      <img class="openMenu" (click)="burgerMenuClick()" src="../../../image/iconMenu.png" alt="menu">
      <img class="closeMenu" (click)="closeBurgerMenuClick()" src="../../../image/closeMenu.png" alt="menu">
      <ul>
        <li class="navList"><a href="">aaaaaa</a></li>
        <li class="navList"><a href="">bbbbbb</a></li>
        <li class="navList"><a href="">cccccc</a></li>
      </ul>
    </nav>
  </header>












</div>


